// Header Parts
header-top = true
header-main = false
header-bottom = true
 
// Footer Parts
footer-top = false
footer-main = true
footer-bottom = false

// Vendors
bootstrap = true
cf7 = true
font-awesome = true
animations = true
visual-composer = false

// Theme Styles
//-> Body
main-line-height = 1.4em
main-transition-seconds = 0.6s

// -> Fonts
font-file-base = 'fonts/web-fonts/'
main-font-size = 14px
main-font-weight = 400
main-font-family-name = "HK Nova"
main-font-family-type = sans-serif
main-font-family = main-font-family-name, 'Arial', main-font-family-type

// -> Colours
default-colour = #56A9FA
primary-colour = #174471
secondary-colour = #2F2E2E
white-colour = #FFFFFF
grey-colour = #F5F7FA
text-colour = #757575

// -> Headings
heading-colour = secondary-colour
heading-font-family-name = main-font-family-name
heading-font-family-type = sans-serif
heading-font-family = heading-font-family-name, heading-font-family-type
heading-line-height = 1.1em
heading-font-weight = 600

// -> Form Colours
success-bg-colour = #398F14
success-text-colour = white-colour
warning-bg-colour = #F7E700
warning-text-colour = #232220
error-bg-colour = #FFDEDE
error-text-colour = white-colour

// Theme Parts
blog = true
sidebar = true
form = true