// If Bootstrap is in use
if bootstrap
  .gi-container::before, .gi-container::after, .gi-container-fluid::before, .gi-container-fluid::after, .gi-row::before, .gi-row::after
      display table
      content " "

  .gi-container::after, .gi-container-fluid::after, .gi-row::after
      clear both

  .gi-container
      padding-right 15px
      padding-left 15px
      margin-right auto
      margin-left auto

      &.full-width
          padding-right 0
          padding-left 0

  .pull-right
      float right

  .pull-left
      float left

  @media (min-width: 768px)
      .gi-container
          width 750px

  @media (min-width: 992px)
      .gi-container
          width 970px

  @media (min-width: 1200px)
      .gi-container
          width 1170px

  .gi-container-fluid
      padding-right 15px
      padding-left 15px
      margin-right 0
      margin-left 0

  .hidden
      display none

  .visible
      display block

  @media (max-width: 767px)
      .hidden-xs
          display none !important

      .visible-xs
          display block !important

  @media (min-width: 768px) and (max-width: 991px)
      .hidden-sm
          display none !important

      .visible-sm
          display block !important

  @media (min-width: 992px) and (max-width: 1199px)
      .hidden-md
          display none !important

      .visible-md
          display block !important

  @media (min-width: 1200px)
      .hidden-lg
          display none !important

      .visible-lg
          display block !important

  .gi-row
      margin-right -15px
      margin-left -15px

  .gi-col-xs-1, .gi-col-sm-1, .gi-col-md-1, .gi-col-lg-1, .gi-col-xs-2, .gi-col-sm-2, .gi-col-md-2, .gi-col-lg-2, .gi-col-xs-3, .gi-col-sm-3, .gi-col-md-3, .gi-col-lg-3, .gi-col-xs-4, .gi-col-sm-4, .gi-col-md-4, .gi-col-lg-4, .gi-col-xs-5, .gi-col-sm-5, .gi-col-md-5, .gi-col-lg-5, .gi-col-xs-6, .gi-col-sm-6, .gi-col-md-6, .gi-col-lg-6, .gi-col-xs-7, .gi-col-sm-7, .gi-col-md-7, .gi-col-lg-7, .gi-col-xs-8, .gi-col-sm-8, .gi-col-md-8, .gi-col-lg-8, .gi-col-xs-9, .gi-col-sm-9, .gi-col-md-9, .gi-col-lg-9, .gi-col-xs-10, .gi-col-sm-10, .gi-col-md-10, .gi-col-lg-10, .gi-col-xs-11, .gi-col-sm-11, .gi-col-md-11, .gi-col-lg-11, .gi-col-xs-12, .gi-col-sm-12, .gi-col-md-12, .gi-col-lg-12
      position relative
      min-height 1px
      padding-right 15px
      padding-left 15px

  .gi-col-xs-1, .gi-col-xs-2, .gi-col-xs-3, .gi-col-xs-4, .gi-col-xs-5, .gi-col-xs-6, .gi-col-xs-7, .gi-col-xs-8, .gi-col-xs-9, .gi-col-xs-10, .gi-col-xs-11, .gi-col-xs-12
      float left

  .gi-col-xs-12
      width 100%

  .gi-col-xs-11
      width 91.66666667%

  .gi-col-xs-10
      width 83.33333333%

  .gi-col-xs-9
      width 75%

  .gi-col-xs-8
      width 66.66666667%

  .gi-col-xs-7
      width 58.33333333%

  .gi-col-xs-6
      width 50%

  .gi-col-xs-5
      width 41.66666667%

  .gi-col-xs-4
      width 33.33333333%

  .gi-col-xs-3
      width 25%

  .gi-col-xs-2
      width 16.66666667%

  .gi-col-xs-1
      width 8.33333333%

  .gi-col-xs-pull-12
      right 100%

  .gi-col-xs-pull-11
      right 91.66666667%

  .gi-col-xs-pull-10
      right 83.33333333%

  .gi-col-xs-pull-9
      right 75%

  .gi-col-xs-pull-8
      right 66.66666667%

  .gi-col-xs-pull-7
      right 58.33333333%

  .gi-col-xs-pull-6
      right 50%

  .gi-col-xs-pull-5
      right 41.66666667%

  .gi-col-xs-pull-4
      right 33.33333333%

  .gi-col-xs-pull-3
      right 25%

  .gi-col-xs-pull-2
      right 16.66666667%

  .gi-col-xs-pull-1
      right 8.33333333%

  .gi-col-xs-pull-0
      right auto

  .gi-col-xs-push-12
      left 100%

  .gi-col-xs-push-11
      left 91.66666667%

  .gi-col-xs-push-10
      left 83.33333333%

  .gi-col-xs-push-9
      left 75%

  .gi-col-xs-push-8
      left 66.66666667%

  .gi-col-xs-push-7
      left 58.33333333%

  .gi-col-xs-push-6
      left 50%

  .gi-col-xs-push-5
      left 41.66666667%

  .gi-col-xs-push-4
      left 33.33333333%

  .gi-col-xs-push-3
      left 25%

  .gi-col-xs-push-2
      left 16.66666667%

  .gi-col-xs-push-1
      left 8.33333333%

  .gi-col-xs-push-0
      left auto

  .gi-col-xs-offset-12
      margin-left 100%

  .gi-col-xs-offset-11
      margin-left 91.66666667%

  .gi-col-xs-offset-10
      margin-left 83.33333333%

  .gi-col-xs-offset-9
      margin-left 75%

  .gi-col-xs-offset-8
      margin-left 66.66666667%

  .gi-col-xs-offset-7
      margin-left 58.33333333%

  .gi-col-xs-offset-6
      margin-left 50%

  .gi-col-xs-offset-5
      margin-left 41.66666667%

  .gi-col-xs-offset-4
      margin-left 33.33333333%

  .gi-col-xs-offset-3
      margin-left 25%

  .gi-col-xs-offset-2
      margin-left 16.66666667%

  .gi-col-xs-offset-1
      margin-left 8.33333333%

  .gi-col-xs-offset-0
      margin-left 0

  // Main Columns In Different Sizes and Margin Offsets For Responsiveness
  @media (min-width: 768px)
      .gi-col-sm-1, .gi-col-sm-2, .gi-col-sm-3, .gi-col-sm-4, .gi-col-sm-5, .gi-col-sm-6, .gi-col-sm-7, .gi-col-sm-8, .gi-col-sm-9, .gi-col-sm-10, .gi-col-sm-11, .gi-col-sm-12
          float left

  @media (min-width: 768px)
      .gi-col-sm-12
          width 100%

      .gi-col-sm-11
          width 91.66666667%

      .gi-col-sm-10
          width 83.33333333%

      .gi-col-sm-9
          width 75%

      .gi-col-sm-8
          width 66.66666667%

      .gi-col-sm-7
          width 58.33333333%

      .gi-col-sm-6
          width 50%

      .gi-col-sm-5
          width 41.66666667%

      .gi-col-sm-4
          width 33.33333333%

      .gi-col-sm-3
          width 25%

      .gi-col-sm-2
          width 16.66666667%

      .gi-col-sm-1
          width 8.33333333%

      .gi-col-sm-pull-12
          right 100%

      .gi-col-sm-pull-11
          right 91.66666667%

      .gi-col-sm-pull-10
          right 83.33333333%

      .gi-col-sm-pull-9
          right 75%

      .gi-col-sm-pull-8
          right 66.66666667%

      .gi-col-sm-pull-7
          right 58.33333333%

      .gi-col-sm-pull-6
          right 50%

      .gi-col-sm-pull-5
          right 41.66666667%

      .gi-col-sm-pull-4
          right 33.33333333%

      .gi-col-sm-pull-3
          right 25%

      .gi-col-sm-pull-2
          right 16.66666667%

      .gi-col-sm-pull-1
          right 8.33333333%

      .gi-col-sm-pull-0
          right auto

      .gi-col-sm-push-12
          left 100%

      .gi-col-sm-push-11
          left 91.66666667%

      .gi-col-sm-push-10
          left 83.33333333%

      .gi-col-sm-push-9
          left 75%

      .gi-col-sm-push-8
          left 66.66666667%

      .gi-col-sm-push-7
          left 58.33333333%

      .gi-col-sm-push-6
          left 50%

      .gi-col-sm-push-5
          left 41.66666667%

      .gi-col-sm-push-4
          left 33.33333333%

      .gi-col-sm-push-3
          left 25%

      .gi-col-sm-push-2
          left 16.66666667%

      .gi-col-sm-push-1
          left 8.33333333%

      .gi-col-sm-push-0
          left auto

      .gi-col-sm-offset-12
          margin-left 100%

      .gi-col-sm-offset-11
          margin-left 91.66666667%

      .gi-col-sm-offset-10
          margin-left 83.33333333%

      .gi-col-sm-offset-9
          margin-left 75%

      .gi-col-sm-offset-8
          margin-left 66.66666667%

      .gi-col-sm-offset-7
          margin-left 58.33333333%

      .gi-col-sm-offset-6
          margin-left 50%

      .gi-col-sm-offset-5
          margin-left 41.66666667%

      .gi-col-sm-offset-4
          margin-left 33.33333333%

      .gi-col-sm-offset-3
          margin-left 25%

      .gi-col-sm-offset-2
          margin-left 16.66666667%

      .gi-col-sm-offset-1
          margin-left 8.33333333%

      .gi-col-sm-offset-0
          margin-left 0

  @media (min-width: 992px)
      .gi-col-md-1, .gi-col-md-2, .gi-col-md-3, .gi-col-md-4, .gi-col-md-5, .gi-col-md-6, .gi-col-md-7, .gi-col-md-8, .gi-col-md-9, .gi-col-md-10, .gi-col-md-11, .gi-col-md-12
          float left

  @media (min-width: 992px)
      .gi-col-md-12
          width 100%

      .gi-col-md-11
          width 91.66666667%

      .gi-col-md-10
          width 83.33333333%

      .gi-col-md-9
          width 75%

      .gi-col-md-8
          width 66.66666667%

      .gi-col-md-7
          width 58.33333333%

      .gi-col-md-6
          width 50%

      .gi-col-md-5
          width 41.66666667%

      .gi-col-md-4
          width 33.33333333%

      .gi-col-md-3
          width 25%

      .gi-col-md-2
          width 16.66666667%

      .gi-col-md-1
          width 8.33333333%

      .gi-col-md-pull-12
          right 100%

      .gi-col-md-pull-11
          right 91.66666667%

      .gi-col-md-pull-10
          right 83.33333333%

      .gi-col-md-pull-9
          right 75%

      .gi-col-md-pull-8
          right 66.66666667%

      .gi-col-md-pull-7
          right 58.33333333%

      .gi-col-md-pull-6
          right 50%

      .gi-col-md-pull-5
          right 41.66666667%

      .gi-col-md-pull-4
          right 33.33333333%

      .gi-col-md-pull-3
          right 25%

      .gi-col-md-pull-2
          right 16.66666667%

      .gi-col-md-pull-1
          right 8.33333333%

      .gi-col-md-pull-0
          right auto

      .gi-col-md-push-12
          left 100%

      .gi-col-md-push-11
          left 91.66666667%

      .gi-col-md-push-10
          left 83.33333333%

      .gi-col-md-push-9
          left 75%

      .gi-col-md-push-8
          left 66.66666667%

      .gi-col-md-push-7
          left 58.33333333%

      .gi-col-md-push-6
          left 50%

      .gi-col-md-push-5
          left 41.66666667%

      .gi-col-md-push-4
          left 33.33333333%

      .gi-col-md-push-3
          left 25%

      .gi-col-md-push-2
          left 16.66666667%

      .gi-col-md-push-1
          left 8.33333333%

      .gi-col-md-push-0
          left auto

      .gi-col-md-offset-12
          margin-left 100%

      .gi-col-md-offset-11
          margin-left 91.66666667%

      .gi-col-md-offset-10
          margin-left 83.33333333%

      .gi-col-md-offset-9
          margin-left 75%

      .gi-col-md-offset-8
          margin-left 66.66666667%

      .gi-col-md-offset-7
          margin-left 58.33333333%

      .gi-col-md-offset-6
          margin-left 50%

      .gi-col-md-offset-5
          margin-left 41.66666667%

      .gi-col-md-offset-4
          margin-left 33.33333333%

      .gi-col-md-offset-3
          margin-left 25%

      .gi-col-md-offset-2
          margin-left 16.66666667%

      .gi-col-md-offset-1
          margin-left 8.33333333%

      .gi-col-md-offset-0
          margin-left 0

  @media (min-width: 1200px)
      .gi-col-lg-1, .gi-col-lg-2, .gi-col-lg-3, .gi-col-lg-4, .gi-col-lg-5, .gi-col-lg-6, .gi-col-lg-7, .gi-col-lg-8, .gi-col-lg-9, .gi-col-lg-10, .gi-col-lg-11, .gi-col-lg-12
          float left

  @media (min-width: 1200px)
      .gi-col-lg-12
          width 100%

      .gi-col-lg-11
          width 91.66666667%

      .gi-col-lg-10
          width 83.33333333%

      .gi-col-lg-9
          width 75%

      .gi-col-lg-8
          width 66.66666667%

      .gi-col-lg-7
          width 58.33333333%

      .gi-col-lg-6
          width 50%

      .gi-col-lg-5
          width 41.66666667%

      .gi-col-lg-4
          width 33.33333333%

      .gi-col-lg-3
          width 25%

      .gi-col-lg-2
          width 16.66666667%

      .gi-col-lg-1
          width 8.33333333%

      .gi-col-lg-pull-12
          right 100%

      .gi-col-lg-pull-11
          right 91.66666667%

      .gi-col-lg-pull-10
          right 83.33333333%

      .gi-col-lg-pull-9
          right 75%

      .gi-col-lg-pull-8
          right 66.66666667%

      .gi-col-lg-pull-7
          right 58.33333333%

      .gi-col-lg-pull-6
          right 50%

      .gi-col-lg-pull-5
          right 41.66666667%

      .gi-col-lg-pull-4
          right 33.33333333%

      .gi-col-lg-pull-3
          right 25%

      .gi-col-lg-pull-2
          right 16.66666667%

      .gi-col-lg-pull-1
          right 8.33333333%

      .gi-col-lg-pull-0
          right auto

      .gi-col-lg-push-12
          left 100%

      .gi-col-lg-push-11
          left 91.66666667%

      .gi-col-lg-push-10
          left 83.33333333%

      .gi-col-lg-push-9
          left 75%

      .gi-col-lg-push-8
          left 66.66666667%

      .gi-col-lg-push-7
          left 58.33333333%

      .gi-col-lg-push-6
          left 50%

      .gi-col-lg-push-5
          left 41.66666667%

      .gi-col-lg-push-4
          left 33.33333333%

      .gi-col-lg-push-3
          left 25%

      .gi-col-lg-push-2
          left 16.66666667%

      .gi-col-lg-push-1
          left 8.33333333%

      .gi-col-lg-push-0
          left auto

      .gi-col-lg-offset-12
          margin-left 100%

      .gi-col-lg-offset-11
          margin-left 91.66666667%

      .gi-col-lg-offset-10
          margin-left 83.33333333%

      .gi-col-lg-offset-9
          margin-left 75%

      .gi-col-lg-offset-8
          margin-left 66.66666667%

      .gi-col-lg-offset-7
          margin-left 58.33333333%

      .gi-col-lg-offset-6
          margin-left 50%

      .gi-col-lg-offset-5
          margin-left 41.66666667%

      .gi-col-lg-offset-4
          margin-left 33.33333333%

      .gi-col-lg-offset-3
          margin-left 25%

      .gi-col-lg-offset-2
          margin-left 16.66666667%

      .gi-col-lg-offset-1
          margin-left 8.33333333%

      .gi-col-lg-offset-0
          margin-left 0
