if cf7
  .ajax-loader
    //display none !important

  .wpcf7-not-valid-tip
    display none !important

  .wpcf7-response-output
    margin 15px 0 0 !important
    text-align center
    padding 15px !important
    border none !important

  .wpcf7-validation-errors
    background warning-bg-colour
    color warning-text-colour

  .wpcf7-mail-sent-ok
    background success-bg-colour
    color success-text-colour

  .wpcf7-form-control-wrap
    display block
    margin-bottom 30px !important
    
  span.wpcf7-list-item
    margin 0