// Background Colours
.bg-c-default
	background default-colour

.bg-c-primary
	background primary-colour

.bg-c-secondary
	background secondary-colour

.bg-c-white
	background white-colour

.bg-c-grey
	background grey-colour

.bg-gradient
	//background linear-gradient(to bottom, #9ACCFF,  default-colour)
	background linear-gradient(to bottom, default-colour 25%, #9ACCFF 71%, #CEE7FF 100%)