// Form Styles
form
	input[type="text"]
	input[type="week"]
	input[type="url"]
	input[type="time"]
	input[type="tel"]
	input[type="password"]
	input[type="search"]
	input[type="number"]
	input[type="email"]
	input[type="date"]
	select
	textarea
		border-radius 15px
		box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.08)
		padding 23px
		transition main-transition-seconds !important
		
		&.wpcf7-not-valid
			background error-bg-colour !important
		
		&:hover	
		&:focus
			box-shadow 0 0 30px 0 rgba(0, 0, 0, 0.15)
		
		+input-placeholder()
			color #AAA

	textarea
		min-width 100%
		max-width 100%
		min-height 120px
		max-height 200px
		margin-bottom -7px

	select
		background url('../dtm/images/svgs/select-arrow.svg')
		background-position 96% 50%
		background-repeat no-repeat

	input[type="submit"]
	button
		transition main-transition-seconds !important

.form-group
	margin-bottom 15px
	
	&:last-of-type
		margin-bottom 0

.form-repsonse
	> div
		padding 15px
		text-align center
		margin-top 15px
		
		&.error
			background error-bg-colour
			color error-text-colour

		&.success
			background success-bg-colour
			color success-text-colour

// Multistep Form
.multistep-form fieldset {
  display: none;
  border: none;
}
.multistep-form fieldset:first-of-type {
  display: block;
}

#progressbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  counter-reset: step;
  list-style: none;
  padding: 0;
}
#progressbar li {
  position: relative;
  text-align: center;
  flex: 1;
  color: #999;
  i{color:  #174471;}
  }

#progressbar li::before {
  counter-increment: step;
  content: counter(step);
  width: 30px;
  height: 30px;
  line-height: 27px;
  display: block;
  // background: #ddd;
  border: 1px solid #56a9fa;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}

#progressbar li.active {
  color: #000;
  font-weight: 600;
 }

#progressbar li.active::before {
  background: #174471;
  color: #fff;
   border: 1px solid #174471;

}

.action-button {
  background: #56a9fa;
  color: #fff;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  &.previous{
    float: left;
    }
    &.next{
    float: right;
    }
}

.action-button:hover {
  background: #174471;
}
