// General and Body Styles
::-moz-selection
	background-color default-colour
	color white-colour

::selection
	background-color default-colour
	color white-colour

html
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)

body
	font-family main-font-family
	font-size main-font-size
	color text-colour
	line-height main-line-height
	font-weight main-font-weight
	word-wrap break-word
	-o-hyphens none
	-webkit-hyphens none
	-ms-hyphens none
	-moz-hyphens none
	hyphens none