.toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-label {
  margin: 0 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.toggle-input:checked + .toggle-slider {
  background-color: #2196F3;
}

.toggle-input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

.package-table-wrapper .package-table .package-table-row .price-label {
  font-size: 14px;
}

.pricetable-box {
  margin-bottom: 20px;
}

.pricetable-box-heading {
  background: #f6faff;
  padding: 15px;
  cursor: pointer;
  transition: all .3s easy-in-out;
  i.fa-long-arrow-right{
    float: right;
  font-size: 18px;
  margin-top: 4px;
  }
  &:hover{
    background: #f0f6ff;
    }
}

.pricetable-box-heading h3 {
  margin: 0;
}

.pricetable-box-content {
  padding: 15px;
}

.package-table-wrapper .package-table {
  .package-table-label {
    font-weight: 600;
    // padding-left: 15px;
  }
}

.package-table-wrapper .package-table .package-table-col-main.card {
 box-shadow: 0 0 18px 0 rgba(0,0,0,0.08);
.card-header{
    padding: 19px;
    background: #7bc0ff;
    display: block;
    color: white;
     font-size: 18px;
  }
  .price-lg{
    font-size: 28px;
    font-weight: 600;
    }
  
  .info{
    display: block;
  padding-top: 5px;
  font-size: 16px;
  }
  .content{
    padding: 34px 0;
    }
    .font-lg{
     display: block;
  font-size: 28px;
  font-weight: 600;
  padding: 5px;
    }
}



.package-table-wrapper .package-table .package-table-col-main .package-table-label {
  background: #f8fbff;
}
.package-table-wrapper .package-table .package-table-col-main .package-table-label:nth-of-type(2n) {
  background: #f0f6ff;
}

.package-table-wrapper .package-table .package-table-col {
  padding: 18px 15px;
}

// .package-table-wrapper .package-table .package-table-col-main > div {
//   float: left;
// }