@media only screen and (max-width: 393px)
	.btn
		padding 14px !important
		letter-spacing 0 !important
		
		&.m-r-md
			margin-right 5px

@media only screen and (max-width: 599px)
	.home-about .testimonial-boxes .testimonial-box-wrapper
		width 100%
		
	.home-about .testimonial-boxes .testimonial-box-wrapper
		margin-bottom 30px
		
		&:last-of-type
			margin-bottom 0

		&.neg-margin
			margin-top 0

@media only screen and (min-width: 600px) and (max-width: 767px)
	.home-about .testimonial-boxes .testimonial-box-wrapper
		&.neg-margin
			margin-top -75px

@media only screen and (max-width: 450px)
	.stat-wrap-row .stat-wrap
		width 100% !important

@media only screen and (max-width: 767px)
	/* Layouts */
	#page
		padding-top 80px
	
	.sec
		padding-top 40px
		padding-bottom 40px
		
	/* Headings */
	.headline
		font-size 1.7em
		
	.more-articles .heading
	.testimonial .heading
		font-size 1.6em
	
	.more-articles .heading
		margin-bottom 20px

	/* 404 */
	.error404 .not-found-title
		font-size 130px

	.error404 .not-found-page p
		font-size 1.2em
		margin-bottom 25px

	/* UI */
	.action-box
		padding 30px
		
		.heading
			font-size 1.5em
			
		.content
			margin-bottom 15px

		&.action-box-form
			padding 30px

	.btn
	.btn-sm
		padding 15px 18px
		font-size 0.7em
		
	.share-post
		text-align center
		
		.heading
			margin 0 0 15px
			
		ul
			li
				margin-right 10px
	
	.more-articles .article .article-heading
		font-size 1.1em
		
	.prev-next-post
		text-align center
		
		.t-a-r
			text-align center
		
		.float-right
			float none !important
		
		.gi-col-sm-6
			margin-bottom 30px
			
			&:last-of-type
				margin-bottom 0
	
	.prev-next-post-button .title
		margin-bottom 5px
		
	.testimonial
		.details
			span
				display block
				margin-right 0
				margin-bottom 5px
				float none
				
				&:last-of-type
					margin-bottom 0
	
	.sec-full-width
		padding-left 0 !important
		padding-right 0 !important
		
	.banner
		padding 70px 0
		
		.content-area
			position static
			transform none
			
		.banner-heading
			font-size 2em
			margin-bottom 20px
		
		&.home
			background-image('/wp-content/uploads/2019/05/beautiful-businesswoman-768x512.jpg', rgba(0, 0, 0, 0.3))
		
		&.full-height			
			height auto
	
	#footer-main
		padding-top 40px
		text-align center
		
		.logo
			width 280px
			margin-bottom 30px

		ul	
			&.social
				margin-top 30px
		
		.hr
			margin 30px 0
		
		.copyright
			margin 0 0 20px
			text-align center
	
	.img-content-area 
		.img-area
			width 100%
			
		.content-area
			width 100%
			position static
			padding 50px 0 0
			transform none
	
	.home-about .img-content-area .img-area
		padding-left 30px
	
	.home-about .img-content-area .about-text
		font-size 12px
		margin 0
		left -50px
	
	.big-heading
		font-size 2em
		margin-bottom 20px
		
		&:last-child
			margin-bottom 0
	
	.subheading
		margin-bottom 20px
	
	.home-about .main-about-content
		margin-bottom 50px
	
	.home-about .bottom-content-area 
		.content-area
			position static
			transform none
			margin-bottom 75px
		
	.testimonial-box 
		.testimonial-box-content
			padding 30px
	
	.packages-table .packages-table-row .packages-table-col .package-heading
		padding-top 90px

	.packages-table .packages-table-row
		.packages-table-col-wrapper
			overflow scroll
			padding 50px 0
			overflow -moz-scrollbars-none
			-ms-overflow-style none
			
			&::-webkit-scrollbar
				width 0 !important
				display none
			
			.packages-table-col-wrap
				width 420%
				
				.packages-table-col
					width 20%
	
	.package-box
		.btn
			padding 15px 10px
			font-size 0.68em
			
			i
				margin-left 0
	
	.package-box
		padding 0
	
	.packages-table .packages-table-row .packages-table-col .package-heading
		font-size 1.9em
		padding-top 10px
		margin-bottom 40px
		
	.packages-table .packages-table-row .packages-table-col-wrapper
		padding 0 0 50px 0
	
	.package-box .table-package-list li .plan
		font-size 1em

		.recommended
			font-size 9px

	.packages-table .packages-table-row .packages-table-col
		width 50%
	
	.package-box .icon
		margin-bottom 32px
	
	.package-box .table-package-list li .monthly-price
		font-size 1.6em
	
	.packages-table .packages-table-row .packages-table-col .table-list li
		font-size 0.9em
	
	#title-bar
		padding-top 60px
		padding-bottom 60px

		.title-bar-heading
			font-size 2em

		.title-bar-subheading
			font-size 1em
			margin-top 25px
	
		.breadcrumb
			margin-top 20px
	
	.breadcrumb
		padding 15px 18px
		
		li
			font-size 0.76em
	
		> li + li:before
			padding 0 10px
			
	.btn
		padding 15px 25px

		&.m-t-md
			margin-top 0
	
	body
		font-size 14px
	
	.about-whu .icon-box
		padding 0
		
		&:hover
			box-shadow none
	
	.about-whu .icon-box .icon-box-content-area .heading
		font-size 1.5em
	
	.icon-box.content .icon-box-icon-area img
		width 60px
		margin-bottom 20px
	
	.p-subheading
		margin-bottom 40px !important
		
	.services-sec .services-lists .services-list
		width 100%
	
	.banner 
		.banner-content
			font-size 1em
			margin-bottom 20px
	
	.img-content-area.alt .content-area
		padding-right 0
	
	ul.lg 
		li
			font-size 1em
			
			i
			&:before
				font-size 1.3em
	
	.features-sec-list 
		.list-tick
			margin-bottom 0		

			li
				width 100%
				margin-bottom 10px
	
	.features-row 
		.features-col
			width 100%
			border-right none
			
			&:last-of-type
				border-bottom none
	
	.features-sec
		.m-b-xxxl
			margin-bottom 0
	
	.icon-box.content
		.icon-box-icon-area 
			i
				font-size 55px

		.icon-box-content-area 
			.heading
				font-size 1.5em
	
	.banner.banner-service .banner-heading
		width auto

	.banner .banner-content-wrapper
		padding-left 0
	
	.banner .xero-partnership
		width 130px
		position absolute
		bottom -40px
		margin-top 0
		right 15px

		p
			display none
	
	.service-testimonial-sec .testimonial-boxes .testimonial-box-wrapper
		width 100%
	
	.sec-service-content .content-area
		position static
		width 100%
		transform translate(0, 0)
		
	.sec-service-content .wrapper-area
		margin-left 0
		
	.sec-service-content .img-area
		width 100%
		margin-left 0

	.company-logos
		ul
			li
				width 33.333%
				margin-bottom 15px
	
	.icon-box
		text-align center
		
	.icon-box.content .icon-box-content-area .content
		push-auto()
	
	.features-sec .headline
		margin-bottom 40px
	
	.features-row .features-col
		padding-top 30px !important

	.features-row .features-col:after
		display none
	
	.sec-service-content 
		.content-area
			padding 55px 40px 40px
			margin-bottom 30px
	
	.sec-service-content .content-area .lower-heading
		font-size 2em
	
	.sec-service-content .content-area .list-tick
		margin-bottom 25px
	
	.service-testimonial-sec .testimonial-boxes .testimonial-box-wrapper
		padding 0
		margin-bottom 30px
		
		&:last-of-type
			margin-bottom 0
	
	.service-testimonial-sec
		.m-b-xxxl
			margin-bottom 30px !important
		
		.testimonial-box-wrapper
			padding-top 0 !important
	
	.features-sec
		.features-row
			margin-bottom 40px !important

	.home-about
		.main-about-content 
			.btn
				margin-top 20px
	
	.move-up-to-banner
		margin-top 0
	
	.banner.banner-extra-padd-bottom
		padding-bottom 70px
	
	.banner .banner-rating
		position static
		margin-top 30px
		width 260px
		font-size 16px
	
	.about-content
		.main-about-content
			margin-bottom 0 !important
	
	.company-logos .heading
		margin-bottom 30px
	
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-menu-item-has-children>a.mega-menu-link
		padding-left 30px
	
	.company-logos ul li img
		max-width 110px
	
	.banner .banner-content-wrapper.alt
		padding-left 0
	
	.service-page .main-wrapper-area
		margin 0 -15px
	
	.service-page .m-b-xxxl
		margin-bottom 50px
	
	.service-page .main-wrapper-area .img-wrapper-area
		width 100%
	
	.service-page .main-wrapper-area .img-wrapper-area .img
		height 300px
	
	.service-page .main-wrapper-area .content-wrapper-area .content
		margin 15px 0
	
	.about-stat-sec .main-wrapper-area .content-area
		width 100%
		position static
		transform translate(0, 0)
		margin-bottom 30px
	
	.about-stat-sec .main-wrapper-area .img-area
		width 100%
	
	.about-stat-sec .main-wrapper-area .img-area .img-inner .img
		height 350px
	
	.stat-wrap-row
		margin-bottom -30px

	.stat-wrap-row .stat-wrap
		margin-bottom 30px
	
	.stat 
		padding 30px
		
		.number
			font-size 2.5em

		.heading
			font-size 1.14em
	
	.heading-content-sec
		padding-top 0
		padding-bottom 0
	
	.about-stat-sec .big-heading
		margin-bottom 30px !important
	
	.cta-sec img
		margin-bottom -10px
	
	.service-list-sec
		.p-b-xl
			padding-bottom 0
		
		.m-b-xxxl
			margin-bottom 30px
	
	.stat-wrap-row .stat-wrap
		width 100%
	
	.stat-wrap-row .stat-wrap-two
		padding-top 0
	
	.stat-wrap-row .stat-wrap-three
		margin-top 0
	
	.btn-box-shadow
		box-shadow 0 5px 20px 0 rgba(0, 0, 0, 0.2)
		
		&:hover
			box-shadow 0 10px 30px 0 rgba(0, 0, 0, 0.2)
	
	#footer-main ul.contact li a
		font-size 21px
	
	.cta-sec .heading
		margin-bottom 20px
		font-size 1.4em
	
	.about-stat-sec .main-wrapper-area .img-area
		padding-right 15px
	
	.about-stat-sec .main-wrapper-area .content-area
		padding-left 15px
	
	.stat-wrap-row .stat-wrap
		padding-left 15px
		padding-right 15px
	
	.about-stat-sec .main-wrapper-area .img-area p.content
		margin-bottom 15px
	
	.home-about .testimonial-boxes
		margin 0 -15px

	.home-about .testimonial-boxes .testimonial-box-wrapper
		padding-right 15px
		padding-left 15px
	
	.cta-sec.alt
		text-align center

		.heading
			margin-bottom 10px !important
		
		.subheading
			padding-left 0

			&:before
				position static
				display inline-block
				margin-left -20px
			
			.text
				display inline-block
				margin-left -20px
		
		.t-a-r
			text-align center

	.map-area
		height 500px
		padding-left 15px !important
		padding-right 15px !important
		padding-top 15px !important
		
		.contact-wrapper
			position static
			transform translate(0, 0)
			padding 30px
	
	.map-area .resource-loader .resource-loader-action
		bottom 15px
		right 15px
	
	.wpcf7-form-control-wrap
		margin-bottom 15px !important
	
	.map-area .contact-wrapper ul li
		font-size 14px
	
	.blog
	.archive 
		article
			width 100%
			
			.post-wrapper 
				.img-wrapper
					height 250px
					
				.date
					top 20px
					left 20px
				
				.entry-body
					padding 30px
					
					.entry-title
						font-size 1.6em
	
	.banner .newsletter .wrapper 
		.input
			width calc(100% / 2)
			margin-bottom 15px
			
			&.email 
				input
					border-radius 0 5px 5px 0
		
		.button
			width 100%
			
			input
				border-radius 5px

	.banner .newsletter .wrapper .input input
	.banner .newsletter .wrapper .button input
		height 55px
	
	.category-success-stories article
		width 100%	
	
	.service-page .main-wrapper-area .img-wrapper-area
		position static
		width 100%
		
	.service-page .main-wrapper-area .content-wrapper-area
		width 100%
		padding-top 0
		padding-bottom 30px
	
	.service-page .main-wrapper-area .content-wrapper-area .content-wrapper
		padding 30px
	
	.package-table-wrapper .package-table .package-table-row .package-table-col.package-table-label
		width 100%
		padding-right 0
		text-align center
		background #F6FAFF
		
		&.package-table-mute
			display none
	
	.package-table-addons .list-tick li
		font-size 14px
		margin-bottom 10px
	
	.packages-sec
		.m-b-xxxl
			margin-bottom 30px
	
	.package-table-wrapper .package-table .package-table-row .package-table-col.package-table-value
		width calc(100% / 2)
	
	.package-table-wrapper .package-table .package-table-row:nth-of-type(2n)
		background transparent
	
	.package-table-wrapper .package-table .package-table-row .package-table-col.package-table-label
		padding 0 10px
		font-size 12px

	.package-table-wrapper .package-table
		font-size 14px
	
	.package-table-wrapper .package-table .package-table-row .package-table-col
		height 50px
		line-height 50px
	
	.service-testimonial-sec .testimonial-boxes
		margin 0 -15px
	
	.success-testimonial
		padding-bottom 50px
	
	.success-testimonial .testimonial .content
		margin -10px 0 15px
		
	.single .category-success-stories .about-stat-sec
		padding-bottom 0
	
	.single .category-success-stories .home-about .img-content-area .about-text
		left -65px
	
	.home-about .main-icon-content .icon-box
		padding 30px
		
		.icon-box-icon-area 
			i
				margin-bottom 25px
				font-size 45px
		
		.icon-box-content-area 
			.content
				max-width 260px
				font-size 14px
	
	.home-logos-box
		width 90px
		padding 20px 0
		left 10px
		bottom 10px
		
		.heading
			display none

		ul
			li
				margin-bottom 15px
				width 100%
				
				&:last-of-type
					margin-bottom 0

@media only screen and (min-width: 768px)
	.parallax
		background-attachment fixed !important

@media only screen and (min-width: 768px) and (max-width: 991px)
	.sec
		padding-top 60px
		padding-bottom 60px
		
	.action-box
		padding 45px 30px
		
		.heading
			font-size 1.65em

	.share-post
		.heading
			margin 10px 0
			font-size 1.3em

		ul
			li
				margin-right 6px
				
				a
					height 40px
					width 40px
					line-height 47px
					
					i
						font-size 16px
		
	.sec-full-width
		padding-left 15px !important
		padding-right 15px !important
	
	.main-header .logo
		width 192px
		padding 18.5px 0
	
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link
		height 83.61px !important
		line-height 83.61px !important
		font-size 0.8em
		padding 0 8px
	
	.banner
		.banner-heading
			font-size 3em
			margin-bottom 30px

		.banner-services ul li .icon-box
			.icon-box-link
				padding-bottom 15px

			.icon-box-content-area
				.heading
					font-size 1em

			&:after
				width 100%
	
	.icon-box
		&.default
			.icon-box-icon-area
				position static
				transform none
				float none
				margin-bottom 15px
				
				i
					font-size 30px

			.icon-box-content-area
				width 100%
				float none
				
				.link
					font-size 0.86em
	
	#footer-main
		padding-top 50px

		ul 
			li
				font-size 1em
				margin-right 25px
			
			&.social
				float none
				text-align center
		
		.hr
			margin 50px 0 40px
		
		.copyright
			margin 0 0 20px
			text-align center
	
	.home-about
		padding-top 80px
		padding-bottom 80px

	.img-content-area .content-area
		padding-left 30px
	
	.img-content-area.alt .content-area
		padding-right 30px
	
	.big-heading
		font-size 2.2em
		margin-bottom 20px
	
	.subheading
		margin-bottom 20px
	
	.home-about .main-about-content
		margin-bottom 70px
	
	.home-about .bottom-content-area 
		.content-area
			position static
			transform none
			margin-bottom 125px
			
			.content-p
				width 80%
	
	.home-about .testimonial-boxes .testimonial-box-wrapper
		&.neg-margin
			margin-top -65px
		
	.testimonial-box 
		.testimonial-box-content
			padding 30px
	
	.home-packages
		padding-top 30px
	
	.packages-table .packages-table-row .packages-table-col .package-heading
		padding-top 90px

	.packages-table .packages-table-row
		.packages-table-col
			width 25%

		.packages-table-col-wrapper
			overflow scroll
			padding 50px 0
			overflow -moz-scrollbars-none
			-ms-overflow-style none
			
			&::-webkit-scrollbar
				width 0 !important
				display none
			
			.packages-table-col-wrap
				width 200%
				
				.packages-table-col
					width 20%
	
	.package-box
		.btn
			padding 15px
			font-size 0.75em
			
			i
				margin-left 0
	
	.package-box
		padding 30px
	
	.packages-table .packages-table-row .packages-table-col .package-heading
		font-size 1.9em
		margin-bottom 70px
	
	#title-bar
		padding-top 160px
		padding-bottom 60px

		.title-bar-heading
			font-size 2.6em

		.title-bar-subheading
			font-size 1.14em
			margin-top 30px
	
		.breadcrumb
			margin-top 25px

	p
		font-size 14px
			
	.btn
		&.m-t-md
			margin-top 0

	.about-content
		.img-content-area 
			.content-area
				width 100%
				padding-left 0
				padding-top 70px
				position static
				transform none
				
			.img-area
				width 100%
	
	.icon-box.content .icon-box-content-area .heading
		font-size 1.2em
	
	.about-whu .icon-box
		padding 30px
	
	.p-subheading
		margin-bottom 40px !important
		
	.services-sec .services-lists .services-list
		width 50%
	
	ul.lg 
		li
			font-size 1.14em
			
			i
			&:before
				font-size 1.4em
	
	.features-row 
		.features-col
			padding 0 15px
	
	.banner .content-area
		padding 0 15px

	.banner .banner-content
		font-size 1.14em
	
	.banner
		padding-top 170px

	.banner .banner-content-wrapper
		padding-left 0
	
	.btn
		padding 16px 22px
		font-size 0.86em
	
	.company-logos ul 
		margin-bottom -30px 

		li
			width 33.333%
			margin-bottom 30px
	
	.icon-box.content .icon-box-icon-area img
		width 80px
	
	.features-row .features-col:after
		width 205px
		height 73px
		right -97px
	
	.headline
		font-size 2.3em
	
	.sec-service-content .content-area
		position static
		width 100%
		margin-bottom 30px
		transform translate(0, 0)
	
	.sec-service-content .img-area
		width 100%
		margin-left 0
	
	.sec-service-content .wrapper-area
		margin-left 0
		
	.move-up-to-banner
		margin-top 0
	
	.banner.banner-service .banner-heading
		max-width 700px
	
	.banner .banner-content
		max-width 580px
	
	.banner.banner-extra-padd-bottom
		padding-bottom 70px
	
	.banner .banner-rating
		bottom -150px
		right 15px
		width 260px
		font-size 16px
		
	.banner.banner-extra-padd-bottom
		padding-bottom 190px
	
	.about-content .main-about-content
		margin-bottom 0
	
	.service-testimonial-sec
		.m-b-xxxl
			margin-bottom 30px

	.sec-service-content .content-area
		position static
		
	.service-testimonial-sec .testimonial-boxes .testimonial-box-wrapper
		width 100%
		padding 0 0 30px
		
		&:last-of-type
			padding-bottom 0
	
	.banner .banner-content-wrapper.alt
		padding-left 0
	
	.service-page .main-wrapper-area
		margin 0
	
	.service-page .m-b-xxxl
		margin-bottom 50px
	
	.service-testimonial-sec .testimonial-box-wrapper
		padding-top 0 !important
		
	.sec-service-content.alt .img-area
		width 100%
		margin-left 0
	
	.about-stat-sec
		text-align center
	
	.about-stat-sec .main-wrapper-area
		margin-left -30px
		margin-right -30px
	
	.about-stat-sec .main-wrapper-area .content-area
		width 100%
		position static
		transform translate(0, 0)
		padding-left 15px
	
	.about-stat-sec .main-wrapper-area .img-area
		width 100%
	
	.about-stat-sec .main-wrapper-area .img-area .img-inner .img
		height 450px
	
	.stat-wrap-row
		margin-bottom -40px
	
	.stat 
		padding 30px

		.number
			font-size 3em

		.heading
			font-size 1.14em
	
	.heading-content-sec
		padding-top 0
		padding-bottom 0
	
	.service-list-sec
		.p-b-xl
			padding-bottom 0
		
		.m-b-xxxl
			margin-bottom 30px
	
	.btn-box-shadow
		box-shadow 0 10px 30px 0 rgba(0, 0, 0, 0.2)
		
		&:hover
			box-shadow 0 15px 40px 0 rgba(0, 0, 0, 0.2)
	
	#footer-main ul.contact li a
		font-size 30px
	
	.about-stat-sec .main-wrapper-area .img-area
		padding-right 15px
		margin-bottom 60px
	
	.stat-wrap-row .stat-wrap
		padding-left 20px
		padding-left 20px
		margin-bottom 40px
	
	.home-about .testimonial-boxes
		margin 0 -15px
	
	.home-about .testimonial-boxes .testimonial-box-wrapper
		padding-right 15px
		padding-left 15px
	
	.cta-sec.alt
		text-align center

		.heading
			margin-bottom 10px !important
		
		.subheading
			padding-left 0

			&:before
				position static
				display inline-block
				margin-left -20px
			
			.text
				display inline-block
				margin-left -20px
		
		.t-a-r
			text-align center

	.map-area
		padding-left 0 !important
		padding-right 0 !important
	
	.map-area .contact-wrapper
		left 30px
	
	.blog
	.archive 
		article
			.post-wrapper 
				.img-wrapper
					height 250px
					
				.date
					top 20px
					left 20px
				
				.entry-body
					padding 30px
					
					.entry-title
						font-size 1.6em
	
	.blog 
	.archive 
		article .post-wrapper .entry-body
			min-height 340px
	
	.category-success-stories article
		width 50%
	
	.category-success-stories article .post-wrapper .entry-body
		min-height 280px
	
	.service-page .main-wrapper-area .content-wrapper-area .content-wrapper
		padding 40px
	
	.package-table-wrapper .package-table .package-table-row .package-table-col.package-table-label
		width 33.333%
	
	.package-table-wrapper .package-table .package-table-row .package-table-col.package-table-value
		width calc(66.666% / 5)
	
	.package-table-wrapper .package-table .package-table-row .package-table-col.package-table-value.package-table-top .text
		font-size 1em
	
	.package-table-wrapper .package-table .package-table-row .package-table-col.package-table-value.package-table-top .price
		font-size 1.8em
	
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item .mega-sub-menu #mega-menu-26-1 .mega-menu-item-680 .mega-sub-menu li
		width 33.333%
	
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item li.mega-menu-item>a.mega-menu-link
		font-size 14px
	
	.service-page .main-wrapper-area .img-wrapper-area
		position static
		width 100%
		height 400px
		
		.img-area
			height 100%
		
	.service-page .main-wrapper-area .content-wrapper-area
		width 100%
		padding-top 0
		padding-bottom 30px
	
	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>ul.mega-sub-menu>li.mega-menu-columns-8-of-12
		width 100% !important
	
	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>ul.mega-sub-menu>li.mega-menu-columns-4-of-12
		width 50%
	
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item.mega-menu-item-has-children a:after
		top 72px
	
	.service-testimonial-sec .testimonial-boxes
		margin 0 -15px
	
	.service-testimonial-sec .testimonial-boxes .testimonial-box-wrapper
		margin-bottom 30px
		
		&:last-of-type
			margin-bottom 0
	
	.home-about .main-icon-content .icon-box
		padding 40px
		
		.icon-box-icon-area 
			i
				margin-bottom 20px
				font-size 50px
		
		.icon-box-content-area 
			.content
				max-width 260px
				font-size 16px
		
@media only screen and (min-width: 992px) and (max-width: 1199px)
	.sec-full-width
		padding-left 30px !important
		padding-right 30px !important
		
	.sec
		padding-top 80px
		padding-bottom 80px
	
	.banner 
		.banner-heading
			font-size 3em
			margin-bottom 30px
			
		.banner-services ul li .icon-box
			.icon-box-content-area
				width calc(100% - 45px)

				.heading
					font-size 1em
					
			&:after
				width 100%
	
	.icon-box
		&.default
			.icon-box-icon-area
				width 30px
				
				i
					font-size 30px
			
			.icon-box-content-area
				width calc(100% - 45px)
				
				.link
					font-size 0.86em
	
	.main-header .logo
		width 250px
	
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link
		height 89px !important
		line-height 89px !important
		padding 0 10px
		font-size 1em
	
	#footer-main ul li
		margin-right 30px
	
	.big-heading
		margin-bottom 20px

	.subheading
		margin-bottom 20px

	.img-content-area .content-area
		padding-left 30px
	
	.img-content-area.alt .content-area
		padding-right 30px
		
	.big-heading
		font-size 2.5em
	
	.home-about .main-about-content
		margin-bottom 100px
	
	.home-about .bottom-content-area 
		.content-area
			position static
			transform none
			margin-bottom 155px
			
			.content-p
				width 80%
	
	.home-about .testimonial-boxes .testimonial-box-wrapper
		&.neg-margin
			margin-top -65px
	
	.home-packages
		padding-top 30px
	
	.packages-table .packages-table-row .packages-table-col .package-heading
		padding-top 90px

	.packages-table .packages-table-row
		.packages-table-col
			width 20%

		.packages-table-col-wrapper
			overflow scroll
			padding 50px 0
			overflow -moz-scrollbars-none
			-ms-overflow-style none
			
			&::-webkit-scrollbar
				width 0 !important
				display none
			
			.packages-table-col-wrap
				width 135%
				
				.packages-table-col
					width 20%
	
	.package-box
		.btn
			padding 15px 10px
			font-size 0.71em
			
			i
				margin-left 0
	
	.package-box
		padding 30px
	
	.packages-table .packages-table-row .packages-table-col .package-heading
		font-size 2.2em
		margin-bottom 62px

	#title-bar
		padding-top 190px
		padding-bottom 80px

		.title-bar-heading
			font-size 3.2em

		.title-bar-subheading
			margin-top 30px
			font-size 1.14em
	
		.breadcrumb
			margin-top 25px
	
	.icon-box.content .icon-box-content-area .heading
		font-size 1.8em
	
	.about-whu .icon-box
		padding 30px
		
	.services-sec .services-lists .services-list
		width 33.333%
	
	.features-sec
		.icon-box.content
			.icon-box-icon-area 
				i
					font-size 55px

			.icon-box-content-area 
				.heading
					font-size 1.4em
				
				.content
					font-size 14px
					max-width 320px
	
	ul.lg 
		li
			font-size 1.14em
			
			i
			&:before
				font-size 1.4em
	
	.banner .banner-content
		font-size 1.14em
		max-width 900px
	
	.btn
		padding 19px 22px
		font-size 0.86em
	
	.about-content
		margin-top 0
	
	.banner
		padding-top 190px
	
	.banner.banner-extra-padd-bottom
		padding-bottom 200px
		
	.banner .banner-content-wrapper
		padding-left 10%
	
	.banner .banner-content
		max-width 600px

	.banner.banner-service .banner-heading
		max-width 700px
	
	.banner .banner-rating
		bottom -140px
		right 10%
	
	.company-logos
		.heading
			margin-bottom 40px
	
	.about-content .main-about-content
		margin-bottom 0
	
	.sec-service-content .wrapper-area
		margin-right 0
	
	.sec-service-content .content-area
		padding 65px 40px 40px
		width 400px
		left 15px
	
	.sec-service-content .img-area
		margin-left 0
	
	.headline
		font-size 2.3em

	.sec-service-content .content-area .lower-heading
		font-size 1.8em
	
	.sec-service-content .wrapper-area
		margin-left 8%
	
	.sec-service-content
		padding-bottom 80px
	
	.testimonial-box .testimonial-box-content
		padding 30px
	
	.stat
		min-height 264px

		.content
			font-size 14px
	
	.about-content.move-up-to-banner .img-content-area .content-area
		transform translate(0, -50%)
	
	.banner .banner-content-wrapper.alt
		padding-left 0
	
	.service-page .main-wrapper-area
		margin 0
	
	.service-page .m-b-xxxl
		margin-bottom 50px
	
	.company-logos ul li img
		max-width 110px
	
	.sec-service-content
		padding-top 160px
		padding-bottom 160px
	
	.sec-service-content.alt .img-area
		width 100%
		margin-left 0
	
	.sec-service-content .content-area
		padding 35px 40px 30px !important
	
	.stat .number
		font-size 3em
	
	.about-stat-sec .big-heading
		margin-bottom 40px
	
	.stat-wrap-row .stat-wrap
		margin-bottom 40px
				
	.about-stat-sec .main-wrapper-area .content-area
		position static
		transform translate(0, 0)
		margin-bottom 100px
	
	.about-stat-sec .main-wrapper-area .content-area
	.about-stat-sec .main-wrapper-area .img-area
		width 100%
	
	.stat-wrap-row .stat-wrap
		padding-left 20px
		padding-right 20px
		
	.about-stat-sec .main-wrapper-area .img-area
		padding-right 15px
		
	.about-stat-sec .main-wrapper-area .content-area
		padding-left 15px
	
	.about-stat-sec .main-wrapper-area .img-area .img-inner .img
		height 550px
	
	.home-about .testimonial-boxes
		margin 0 -15px
	
	.home-about .testimonial-boxes .testimonial-box-wrapper
		padding-right 15px
		padding-left 15px

	.map-area
		padding-left 0 !important
		padding-right 0 !important
	
	.map-area .contact-wrapper
		left 45px
	
	.blog
	.archive 
		article
			.post-wrapper 
				.img-wrapper
					height 300px
					
				.date
					top 20px
					left 20px
				
				.entry-body
					padding 30px
					
					.entry-title
						font-size 1.8em
	
	.blog 
	.archive 
		article .post-wrapper .entry-body
			min-height 364px
	
	.category-success-stories article
		width 50%
	
	.category-success-stories article .post-wrapper .entry-body
		min-height 300px
	
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item .mega-sub-menu #mega-menu-26-1 .mega-menu-item-680 .mega-sub-menu li
		width 33.333%
	
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item li.mega-menu-item>a.mega-menu-link
		font-size 14px
	
	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>ul.mega-sub-menu>li.mega-menu-columns-8-of-12
		width 100% !important
	
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link
		font-size 16px
	
	.home-about .main-icon-content .icon-box
		padding 40px
		
		.icon-box-icon-area 
			i
				margin-bottom 20px
				font-size 50px
		
		.icon-box-content-area 
			.content
				width 260px
				font-size 16px
		
@media only screen and (max-width: 1199px)
	.packages-scroll-label
		font-weight 600
		font-size 1.14em
		float left
		width 100%
		text-align center
		color white
	
	.package-box.active
	.package-box:hover
		box-shadow none !important
	
	.blog
	.archive
		#content
			margin 0 -15px

		article
			padding 0 15px
			margin-bottom 30px
	
	.service-testimonial-sec .testimonial-boxes .testimonial-box-wrapper
		padding 0 15px
		
@media only screen and (min-width: 1200px) and (max-width: 1850px)
	.sec
		padding-top 100px
		padding-bottom 100px

	.sec-full-width
		padding-left 50px !important
		padding-right 50px !important
	
	.banner .banner-services ul li .icon-box:after
		width 100%
	
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link
		padding 0 17px
		font-size 1em
	
	.subheading
		margin-bottom 20px
	
	.img-content-area .content-area
		padding-left 50px
	
	.big-heading
		font-size 2.5em
	
	.banner .banner-heading
		font-size 3em
	
	.testimonial-box 
		.testimonial-box-img
			height 150px

		.testimonial-box-content
			padding 30px 15px
			
			.name
				font-size 1.14em
	
	.package-box
		padding 10px
	
	.packages-table .packages-table-row .packages-table-col .package-heading
		padding-top 22px
	
	#title-bar .title-bar-heading
		font-size 3em
	
	#title-bar .title-bar-subheading
		font-size 1.21em
	
	.icon-box.content .icon-box-content-area .heading
		font-size 1.8em

	.about-whu
		.gi-col-lg-3
			width 50%
			
			&.m-sm-b
				margin-bottom 30px !important
	
	.about-whu .icon-box
		padding 30px
		
	.services-sec .services-lists .services-list
		width 33.333%
	
	.sec-img
		.gi-col-lg-6
			width 75%
	
	.features-sec
		.icon-box.content
			.icon-box-content-area 
				.heading
					font-size 1.6em
	
	.banner
		padding-top 200px
		
		.banner-content-wrapper
			padding-left 15%
	
		.banner-content
			max-width 800px
		
		.banner-rating
			right 13%
			bottom -160px

		&.banner-service
			.banner-heading
				max-width 550px
		
		&.banner-extra-padd-bottom
			padding-bottom 270px
	
	.img-content-area .content-area
		top 59%

	.move-up-to-banner
		margin-top -240px
	
	.company-logos
		ul 
			li 
				img
					max-width 130px
	
	.icon-box.content .icon-box-icon-area img
		width 85px
	
	.sec-service-content .wrapper-area
		margin-left 0
	
	.sec-service-content .img-area
		margin-left 15%
	
	.btn
		padding 19px 22px
		font-size 0.86em
	
	.stat
		.number
			font-size 3.5em

		.content
			font-size 14px
	
	.banner .banner-content-wrapper.alt
		padding-left 0
	
	.service-page .main-wrapper-area
		margin 0
	
	.service-page .m-b-xxxl
		margin-bottom 80px
	
	.icon-box.content .icon-box-content-area .content
		max-width 320px
	
	.sec-service-content
		padding-top 160px
		padding-bottom 160px
	
	.sec-service-content.alt .img-area
		width 90%
		margin-left 10%
	
	.sec-service-content .content-area
		padding 55px 40px 40px !important
	
	.service-list-sec
		&.four-cols
			.gi-col-lg-3
				width 33.333%
	
	.stat
		padding 30px
	
	.about-stat-sec .main-wrapper-area .content-area
	.about-stat-sec .main-wrapper-area .img-area
		width 50%
	
	#footer-main ul.contact li a
		font-size 35px
	
	.about-stat-sec .main-wrapper-area .img-area
		padding-right 15px
	
	.about-stat-sec .main-wrapper-area .content-area
		padding-left 15px
	
	.about-stat-sec
		padding-bottom 230px

	.stat-wrap-row .stat-wrap
		margin-bottom 40px
		padding-left 20px
		padding-right 20px

	.map-area
		padding-left 0 !important
		padding-right 0 !important
	
		.contact-wrapper
			left 65px
	
	.blog
	.archive 
		article
			.post-wrapper 
				.img-wrapper
					height 300px
					
				.date
					top 20px
					left 20px
				
				.entry-body
					.entry-title
						font-size 1.8em
	
	.blog 
	.archive 
		article .post-wrapper .entry-body
			min-height 325px
	
	.category-success-stories
		#content
			margin 0 -15px

		article
			padding 0 15px
			margin-bottom 30px
	
	.category-success-stories article .post-wrapper .img-wrapper
		height 240px
	
	.category-success-stories article .post-wrapper .entry-body
		min-height 340px
	
	#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item li.mega-menu-item>a.mega-menu-link
		font-size 14px
	
	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row>ul.mega-sub-menu>li.mega-menu-columns-8-of-12
		width 100% !important
	
	.home-about .main-icon-content .icon-box
		padding 30px 25px
		
		.icon-box-icon-area 
			i
				margin-bottom 20px
				font-size 45px
		
		.icon-box-content-area 
			.content
				font-size 14px
	
	.package-box
		.btn
			padding 15px
			font-size 0.75em
			
			i
				margin-left 0

@media only screen and (min-width: 1851px)
	.service-list-sec
		&.four-cols
			.service-box
				height 380px
				
	.category-success-stories article .post-wrapper .entry-body
		min-height 294px
	
	.home-about .main-icon-content .icon-box
		min-height 257px