if sidebar
	#secondary
		.widget
			box-shadow 0 0 15px 0 rgba(0, 0, 0, 0.1)
			padding 40px
			margin-bottom 30px
			border-radius 10px
			
			.widget-title
				margin 0 0 15px
				font-size 1.5em
		
		ul
			li
				margin-bottom 15px
				
				span
					display block
					margin-top 3px
					font-size 0.8em

		&:last-of-type
			margin-bottom 0